// transition
.transition-300 {
  transition: all .3s;
};

// focus


// border

// navbar mobile
.burger-show {
  @include screen-lg {
    height: auto;
    position: static;
    margin-top: 0;
  };
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 80px;
  z-index: 10;
  background: #fff;
};

// background
.background-gradient-linear {
  background: linear-gradient(135deg, #3B7FCF 0%, #64ABFF 100%);
  transition: all .5s;
  &:active {
    color: #3B7FCF !important;
    background: linear-gradient(135deg, rgba(192, 221, 255, 0.6) 0%, rgba(240, 247, 255, 0.6) 100%);
  }
  @include screen-lg {
    &:hover {
      color: #3B7FCF !important;
      background: linear-gradient(135deg, rgba(192, 221, 255, 0.6) 0%, rgba(240, 247, 255, 0.6) 100%);
    };
  }
};

// box-shadow
.image-shadow {
  box-shadow: (0px 4px 20px rgba(0, 0, 0, 0.08));
};

// 圖片取代文字
.h1-image {
  display: block;
  width: 175px;
  height: 48px;
  background-image: url('../images/logo.svg'); 
  // 如果發生開發時本地端看得到圖片，部署 Github Page 之後看不到，那就嘗試把本地端資料夾名稱與 repository 名稱相同
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
};