<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light py-4">
      <div class="container-fluid d-flex justify-content-bewteen">
        <h1 class="m-0">
          <a
            class="navbar-brand mr-0 h1-image p-0"
            title="MyResume"
            href="./index.html"
            >MyResume</a
          >
        </h1>
        <button
          class="burger border-0 bg-transparent px-2 py-3 d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#projectNavbar"
          aria-controls="projectNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="bg-gradient burger__burger-topline rounded-pill"></span>
          <span
            class="bg-gradient burger__burger-midline rounded-pill mt-1"
          ></span>
          <span
            class="bg-gradient burger__burger-btmline rounded-pill mt-1"
          ></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="projectNavbar"
        >
          <ul class="navbar-nav me-auto pt-6 p-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active p-4 bg-secondary-focus rounded-16px text-primary-focus text-lg-primary-hover fs-5 lh-1"
                aria-current="page"
                href="#"
                >首頁</a
              >
            </li>
            <li class="nav-item ml-lg-12">
              <a
                class="nav-link active p-4 bg-secondary-focus rounded-16px text-primary-focus text-lg-primary-hover fs-5 lh-1"
                aria-current="page"
                href="#"
                >設計類</a
              >
            </li>
            <li class="nav-item ml-lg-12">
              <a
                class="nav-link active p-4 bg-secondary-focus rounded-16px text-primary-focus text-lg-primary-hover fs-5 lh-1"
                aria-current="page"
                href="#"
                >工程類</a
              >
            </li>
            <li class="nav-item ml-lg-12">
              <a
                class="nav-link active p-4 bg-secondary-focus rounded-16px text-primary-focus text-lg-primary-hover fs-5 lh-1"
                aria-current="page"
                href="#"
                >管理類</a
              >
            </li>
          </ul>
          <div>
            <a
              class="btn rounded-pill background-gradient-linear text-white py-3 px-6 opacity-75-focus fs-5 lh-1 transition-300 d-lg-none position-absolute top-85 left-12 right-12"
              href="./login.html"
              >登入/註冊</a
            >
          </div>
        </div>
        <div class="d-none d-lg-block">
          <a
            class="collapse navbar-collapse btn rounded-pill background-gradient-linear text-white py-3 px-6 opacity-75-hover fs-5 lh-1 transition-300"
            href="./login.html"
          >
            登入/註冊
          </a>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer">footer</footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
