// .sortable-container {
//   padding: 1rem;
//   margin-top: 1rem;
//   border: 1px black solid;
// }

.draggable {
  padding: 1rem;
  background-color: aliceblue;
  // border: 1px solid black;
  img {
    height: 100%;
    object-fit: cover;
  }
}

// .dropContainer {
//   display: flex;
//   justify-content: space-around;
// }

.productBacklog {
  height: 300px;
}